.services-container {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}


.badge-success{
    color: #072192;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 30px;  
}
